/*==========================================
    testimonial
==========================================*/
.testimonial {
    background: aliceblue;
    padding: 120px 0;
    .single-testimonial {
        text-align: center;
        .testimonial-top {
            padding: 36px 30px 38px;
            position: relative;
            background: $white;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 50%;
                height: 100%;
                background: $white;
                transform: skewY(-19deg);
                margin-top: 30px;
                z-index: -1;
            }
            &:before {
                position: absolute;
                content: '';
                right: 0;
                top: 0;
                width: 50%;
                height: 100%;
                background: $white;
                transform: skewY(19deg);
                margin-top: 30px;
                z-index: -1;
            }
            .part-icon {
                font-size: 52px;
                color: $base-color-2;
                line-height: 100%;
                margin-bottom: 19px;
            }
            .part-text {
                p {
                    color: #666;
                    font-size: 16px;
                    line-height: 30px;
                    margin-bottom: 35px;
                }
            }
        }
        .part-details {
            margin-top: -38px;
            .user-pic {
                width: 120px;
                height: 120px;
                overflow: hidden;
                border-radius: 50%;
                position: relative;
                left: 50%;
                margin-left: -60px;
                margin-bottom: 21px;
                img {
                    width: 100%;
                }
            }
            .user-data {
                span {
                    display: block;
                    &.name {
                        font-size: 24px;
                        font-weight: 600;
                        color: $base-color;
                        margin-bottom: 4px;
                    }
                    &.profession {
                        font-size: 16px;
                        color: $base-color;
                        opacity: .8;
                    }
                }
            }
        }
    }
}
.testimonial-slider {
    .owl-controls {
        line-height: 0;
        .owl-dots {
            line-height: 0;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            margin-top: 38px;
            display: inline-block;
            .owl-dot {
                width: 10px;
                height: 10px;
                background: $base-color-2;
                display: inline-block;
                margin-right: 10px;
                @include transition($transition);
                border-radius: 50px;
                &.active {
                    width: 30px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}